.form {
    display: grid;
    grid-gap: 15px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 90%;
        justify-content: center;
    }

    .form__option {
        margin: 0 auto;
    }

    .form__label {
        margin-bottom: 20px;
    }
}

.form__field {
    border: 3px solid #0000aa;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.form__button {
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #0000aa;
    background-color: #0000ff79;
    font-weight: bold;
    cursor: pointer;
}

.form__button:hover {
    background-color: #0000ff;
    border: 3px solid #0000aa;
    font-weight: bold;
    color: #ffffff;
}